* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container__index {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "portada" "main";
  background: #0F4C75;
}

.container__index .container__portada {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: portada;
  margin: 1px auto;
}

.container__index .container__portada .carousel__portada img {
  height: 400px;
}

.container__index .main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  font-family: "Permanent Marker", cursive;
}

.container__index .main .main__titulo {
  width: 250px;
  margin: 25px auto;
  color: #BBE1FA;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.container__index .main .main__contenido {
  width: 90%;
  max-width: 1000px;
  margin: 0px auto 10px auto;
  padding: 15px;
  background: #BBE1FA;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

.container__caracteristicas {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo" "caracteristica1" "caracteristica2" "caracteristica3" "caracteristica4";
  justify-items: center;
  background: #0F4C75;
}

.container__caracteristicas .titulo__caracteristicas {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  font-family: "Permanent Marker", cursive;
  color: #BBE1FA;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  margin-top: 10px;
}

.container__caracteristicas section, .container__caracteristicas .caracteristica1, .container__caracteristicas .caracteristica2, .container__caracteristicas .caracteristica3, .container__caracteristicas .caracteristica4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
  margin: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Permanent Marker", cursive;
}

.container__caracteristicas .caracteristica1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: caracteristica1;
      grid-template-areas: "titulo1 imagen1" "descripcion1 imagen1";
}

.container__caracteristicas .caracteristica1 .caracteristica1__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo1;
  padding: 10px;
  color: #BBE1FA;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.container__caracteristicas .caracteristica1 .caracteristica1__descripcion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: descripcion1;
  padding: 10px;
  background: #BBE1FA;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: -5px 5px 10px;
          box-shadow: -5px 5px 10px;
}

.container__caracteristicas .caracteristica1 .caracteristica1__imagen {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: imagen1;
  height: auto;
  width: 50vw;
  padding: 10px;
}

.container__caracteristicas .caracteristica2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: caracteristica2;
      grid-template-areas: "imagen2 titulo2" "imagen2 descripcion2";
}

.container__caracteristicas .caracteristica2 .caracteristica2__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: titulo2;
  padding: 10px;
  color: #BBE1FA;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.container__caracteristicas .caracteristica2 .caracteristica2__descripcion {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: descripcion2;
  padding: 10px;
  background: #BBE1FA;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

.container__caracteristicas .caracteristica2 .caracteristica2__imagen {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagen2;
  width: 50vw;
  height: auto;
  padding: 10px;
}

.container__caracteristicas .caracteristica3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: caracteristica3;
      grid-template-areas: "titulo3 imagen3" "descripcion3 imagen3";
}

.container__caracteristicas .caracteristica3 .caracteristica3__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo3;
  padding: 10px;
  color: #BBE1FA;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.container__caracteristicas .caracteristica3 .caracteristica3__descripcion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: descripcion3;
  padding: 10px;
  background: #BBE1FA;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: -5px 5px 10px;
          box-shadow: -5px 5px 10px;
}

.container__caracteristicas .caracteristica3 .caracteristica3__imagen {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: imagen3;
  height: auto;
  width: 50vw;
  padding: 10px;
}

.container__caracteristicas .caracteristica4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: caracteristica4;
      grid-template-areas: "imagen4 titulo4" "imagen4 descripcion4";
}

.container__caracteristicas .caracteristica4 .caracteristica4__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: titulo4;
  padding: 10px;
  color: #BBE1FA;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.container__caracteristicas .caracteristica4 .caracteristica4__descripcion {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: descripcion4;
  padding: 10px;
  background: #BBE1FA;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

.container__caracteristicas .caracteristica4 .caracteristica4__imagen {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagen4;
  width: 50vw;
  height: auto;
  padding: 10px;
}

.container__clientes {
  background: #0F4C75;
}

.container__clientes .titulo__clientes {
  padding: 10px;
  color: #BBE1FA;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  font-family: "Permanent Marker", cursive;
  width: 110px;
  margin: 0 auto;
}

.container__clientes .descripcion__clientes {
  max-width: 800px;
  margin: 0 auto;
  padding: 10;
  font-family: "Permanent Marker", cursive;
  color: #BBE1FA;
}

.container__clientes .galeria__clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px 30px 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  margin: 10px auto 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__clientes .galeria__clientes .columna__clientes {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

.container__clientes .galeria__clientes .columna__clientes img {
  width: 60%;
  margin-top: 10%;
  margin-left: 15%;
}

.container__clientes .galeria__clientes .columna__clientes .cliente:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.container__clientes .galeria__clientes .columna__clientes .cliente {
  position: relative;
}

.container__clientes .galeria__clientes .columna__clientes .cliente .cliente__info {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0px;
  bottom: 20%;
  width: 60%;
  margin-top: 10%;
  margin-left: 15%;
  padding-top: 5%;
  color: #BBE1FA;
  font-family: "Koulen", cursive;
  display: none;
}

.container__clientes .galeria__clientes .columna__clientes .cliente:hover .cliente__info {
  display: block;
}

.container__nosotros {
  background: #0F4C75;
}

.container__nosotros .titulo__nosotros {
  padding: 10px;
  color: #BBE1FA;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  font-family: "Permanent Marker", cursive;
  width: 110px;
  margin: 0 auto;
}

.container__nosotros .section__nosotros {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "imagenes descripcion";
  -ms-grid-columns: 500px auto;
      grid-template-columns: 500px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__nosotros .section__nosotros .section__imagenes {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imagenes;
  max-width: 600px;
  width: 100%;
  padding: 10px;
}

.container__nosotros .section__nosotros .section__imagenes ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container__nosotros .section__nosotros .section__imagenes .section__slider {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 300px;
}

.container__nosotros .section__nosotros .section__imagenes .section__slider .section__slider--img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.container__nosotros .section__nosotros .section__imagenes .section__slider .section__slider--img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__nosotros .section__nosotros .section__imagenes .section__slider .section__slider--img:first-child {
  opacity: 1;
}

.container__nosotros .section__nosotros .section__imagenes .section__slider .section__slider--img:target {
  opacity: 1;
}

.container__nosotros .section__nosotros .section__imagenes .section__menu {
  text-align: center;
  margin: 5px;
}

.container__nosotros .section__nosotros .section__imagenes .section__menu .section__item {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__nosotros .section__nosotros .section__imagenes .section__menu .section__item img {
  width: 70px;
  height: 50px;
  padding: 10px;
}

.container__nosotros .section__nosotros .section__descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: descripcion;
  font-size: 1.4vw;
  margin: 10px;
  padding: 10px;
  background: #BBE1FA;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
  font-family: "Permanent Marker", cursive;
}

.container__contacto {
  background: #0F4C75;
}

.container__contacto .titulo__contacto {
  padding: 10px;
  color: #BBE1FA;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  font-family: "Permanent Marker", cursive;
  width: 110px;
  margin: 0 auto;
}

.container__contacto .formulario__contacto {
  width: 500px;
  margin: 0 auto;
  background: #BBE1FA;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
  font-family: "Koulen", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.container__contacto .formulario__contacto label {
  margin: 5px 0px;
}

.container__contacto .formulario__contacto div {
  margin: 2px 0px;
}

.container__contacto .formulario__contacto .botones__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__contacto .formulario__contacto .botones__formulario input {
  width: 70px;
  background-color: #1B262C;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: #BBE1FA;
}

.container__contacto .formulario__contacto .botones__formulario input:hover {
  background: #BBE1FA;
  color: #1B262C;
  border: solid 1px #1B262C;
}

@media (min-width: 501px) and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main__titulo {
    width: 28vw;
    font-size: 3vw;
  }
  /* MQ Caracteristicas */
  .container__caracteristicas .caracteristica1 {
        grid-template-areas: "titulo1" "imagen1" "descripcion1";
    margin: 10px;
  }
  .container__caracteristicas .caracteristica1 .caracteristica1__imagen {
    width: 70vw;
  }
  .container__caracteristicas .caracteristica2 {
        grid-template-areas: "titulo2" "imagen2" "descripcion2";
    margin: 10px;
  }
  .container__caracteristicas .caracteristica2 .caracteristica2__imagen {
    width: 70vw;
  }
  .container__caracteristicas .caracteristica3 {
        grid-template-areas: "titulo3" "imagen3" "descripcion3";
    margin: 10px;
  }
  .container__caracteristicas .caracteristica3 .caracteristica3__imagen {
    width: 70vw;
  }
  .container__caracteristicas .caracteristica4 {
        grid-template-areas: "titulo4" "imagen4" "descripcion4";
    margin: 10px;
  }
  .container__caracteristicas .caracteristica4 .caracteristica4__imagen {
    width: 70vw;
  }
  /* MQ Clientes */
  .container__clientes .galeria__clientes .columna__clientes img {
    margin-left: 20%;
  }
  /* MQ Nosotros */
  .container__nosotros .section__nosotros {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "imagenes" "descripcion";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container__nosotros .section__nosotros .section__descripcion {
    font-size: 2.5vw;
  }
  /* MQ Contacto */
  .container__contacto .formulario__contacto {
    width: 470px;
  }
}

@media (max-width: 500px) {
  .header .header__logo .header__titulo {
    display: none;
  }
  .header .header__menu .header__lista .header__item a {
    font-size: 2.5vw;
  }
  .main .main__titulo {
    width: 40vw;
    font-size: 4.5vw;
  }
  .main .main__contenido {
    font-size: 3vw;
  }
  /* MQ Caracteristicas */
  .container__caracteristicas .caracteristica1 {
        grid-template-areas: "titulo1" "imagen1" "descripcion1";
    margin: 10px;
  }
  .container__caracteristicas .caracteristica1 .caracteristica1__imagen {
    width: 80vw;
  }
  .container__caracteristicas .caracteristica2 {
        grid-template-areas: "titulo2" "imagen2" "descripcion2";
    margin: 10px;
  }
  .container__caracteristicas .caracteristica2 .caracteristica2__imagen {
    width: 80vw;
  }
  .container__caracteristicas .caracteristica3 {
        grid-template-areas: "titulo3" "imagen3" "descripcion3";
    margin: 10px;
  }
  .container__caracteristicas .caracteristica3 .caracteristica3__imagen {
    width: 80vw;
  }
  .container__caracteristicas .caracteristica4 {
        grid-template-areas: "titulo4" "imagen4" "descripcion4";
    margin: 10px;
  }
  .container__caracteristicas .caracteristica4 .caracteristica4__imagen {
    width: 80vw;
  }
  /* MQ Clientes */
  .container__clientes .galeria__clientes .columna__clientes {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .container__clientes .galeria__clientes .columna__clientes .cliente {
    margin-left: 20%;
  }
  /* MQ Nosotros */
  .container__nosotros .section__nosotros {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "imagenes" "descripcion";
    -ms-grid-columns: 98%;
        grid-template-columns: 98%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container__nosotros .section__nosotros .section__descripcion {
    font-size: .9rem;
  }
  /* MQ Contacto */
  .container__contacto .formulario__contacto {
    width: 400px;
  }
}

.header {
  background-color: #1B262C;
  min-height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-family: "Koulen", cursive;
  z-index: 1;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo .header__logoImg {
  height: 45px;
  margin-right: 15px;
}

.header .header__logo .header__titulo {
  font-size: 40px;
  color: #BBE1FA;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  margin-top: 15px;
}

.header .header__menu .header__lista {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .header__menu .header__lista .header__item {
  display: inline-block;
}

.header .header__menu .header__lista .header__item a {
  margin: 0 5px;
  padding: 0px 5px;
  text-decoration: none;
  background-color: #1B262C;
  border-radius: 5px;
  color: #BBE1FA;
  border: solid 1px #BBE1FA;
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header .header__menu .header__lista .header__item a:hover {
  background-color: #BBE1FA;
  color: #1B262C;
  border: solid 1px #1B262C;
}

.header .header__menu .header__lista .header__item .header__lista--dos {
  list-style: none;
  display: none;
  position: absolute;
}

.header .header__menu .header__lista .header__item .header__lista--dos .header__item--dos {
  margin-top: 1px;
  width: 100px;
  margin-left: -22px;
  text-align: center;
}

.header .header__menu .header__lista .header__item:hover .header__lista--dos {
  display: block;
}

.footer {
  background: #1B262C;
  color: #BBE1FA;
  font-family: "Koulen", cursive;
  text-align: right;
  /* margin-top: 10px; */
}

.footer .footer__leyenda {
  padding: 5px;
}
/*# sourceMappingURL=newstyle.css.map */